 
@(message: String)

 
@main("Vive Turismo Cotopaxi") {



    <article class="parallax-slider">
		        <div class="tp-banner-container">
		            <div id="banner3" class="tp-banner">
		                <ul>
		                    <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="@routes.Assets.versioned("upload/home_slider_01.jpg")" data-saveperformance="off"  data-title="Volcan Cotopaxi">
		                        <img src="@routes.Assets.versioned("images/dummy.png")"  alt="greenbg" data-lazyload="@routes.Assets.versioned("upload/home_slider_01.jpg")" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		                        <div class="tp-caption slider-title tp-fade skewfromright randomrotateout tp-resizeme rs-parallaxlevel-2" 
		                            data-x="center" 
		                            data-y="361"
		                            data-speed="1000" 
		                            data-start="800" 
		                            data-easing="Power3.easeInOut" 
		                            data-elementdelay="0.1" 
		                            data-endelementdelay="0.1" 
		                            data-endspeed="300" 
		                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">LATACUNGA<br> PENSIL DE LOS DE ANDES 
		                        </div>
		                        <div class="tp-caption slider-title1 tp-fade skewfromright randomrotateout tp-resizeme rs-parallaxlevel-2" 
		                            data-x="center" 
		                            data-y="491"
		                            data-speed="1000" 
		                            data-start="1000" 
		                            data-easing="Power3.easeInOut" 
		                            data-elementdelay="0.1" 
		                            data-endelementdelay="0.1" 
		                            data-endspeed="300" 
		                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
		                           Latacunga la capital de la provincia de Cotopaxi se la conoce por su fiesta mestiza de la Mama Negra.<br> 
		                           las iglesias del Salto, la Catedral y San Francisco que muestran la belleza del arte religioso<br> 
		                           Latacunga fue parte de la historia libertaria, pues apoy&oacute; la gesta guayaquile&ntilde;a del 9 de Octubre de 1820
		                        </div>
		                        
		                        <div class="tp-caption slider-btn tp-fade skewfromright randomrotateout tp-resizeme rs-parallaxlevel-2" 
		                            data-x="center" 
		                            data-y="625"
		                            data-speed="1000" 
		                            data-start="1000" 
		                            data-easing="Power3.easeInOut" 
		                            data-elementdelay="0.1" 
		                            data-endelementdelay="0.1" 
		                            data-endspeed="300" 
		                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">		                            
		                        </div>
		                    </li>
		
		                    <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="@routes.Assets.versioned("upload/home_slider_02.jpg")"  data-saveperformance="off"  data-title="El Danzante">
		                    <img src="@routes.Assets.versioned("images/dummy.png")"  alt="greenbg" data-lazyload="@routes.Assets.versioned("upload/home_slider_02.jpg")" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		                        <div class="tp-caption slider-title tp-fade skewfromright randomrotateout tp-resizeme rs-parallaxlevel-2" 
		                            data-x="center" 
		                            data-y="361"
		                            data-speed="1000" 
		                            data-start="800" 
		                            data-easing="Power3.easeInOut" 
		                            data-elementdelay="0.1" 
		                            data-endelementdelay="0.1" 
		                            data-endspeed="300" 
		                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">PUJILI<br>LA TIERRA DEL DANZANTE
		                        </div>
		                        <div class="tp-caption slider-title1 tp-fade skewfromright randomrotateout tp-resizeme rs-parallaxlevel-2" 
		                            data-x="center" 
		                            data-y="491"
		                            data-speed="1000" 
		                            data-start="1000" 
		                            data-easing="Power3.easeInOut" 
		                            data-elementdelay="0.1" 
		                            data-endelementdelay="0.1" 
		                            data-endspeed="300" 
		                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
		                           <center>
		                            El Danzante, por ejemplo, es el personaje central de la celebraci&oacute;n de Corpus Christi, <br> que congrega a toda la poblaci&oacute;n en el tradicional paseo procesional, <br> en el que se combina la tradici&oacute;n, las creencias ancestrales y la religiosidad popular.
		                            
		                            <br>  El Danzante ha sido calificado como Patrimonio Cultural intangible de la Naci&oacute;n
		                            </center>
		                        </div>
		                        <div class="tp-caption slider-btn tp-fade skewfromright randomrotateout tp-resizeme rs-parallaxlevel-2" 
		                            data-x="center" 
		                            data-y="625"
		                            data-speed="1000" 
		                            data-start="1000" 
		                            data-easing="Power3.easeInOut" 
		                            data-elementdelay="0.1" 
		                            data-endelementdelay="0.1" 
		                            data-endspeed="300" 
		                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">		                            
		                        </div>
		                    </li>

		                </ul>   
		            </div>
		        </div>  
		    </article>
	 
			 <div class="thumbnail">			 	
			 	<img src="@routes.Assets.versioned("images/barras.png")" >			 	
			</div> 		
		    <section class="section clearfix section-bottom" >
		        <div class="container">
		            <div class="hotel-title">
		                <h3>PROVINCIA DE COTOPAXI</h3>
		                <hr class="left">
		            </div><!-- end hotel-title -->
		            <div class="row">
		                <div class="col-md-6">
		                    <div class="service-style row">
		                        <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
		                            <i class="fa fa-file"></i>
		                        </div>
		                        <div class="col-md-9 col-xs-9 col-sm-9">
		                        <h5>DATOS GENERALES</h5>
		                        <p class="text-justify">La provincia de Cotopaxi fue creada por ley elevada por la Asamblea Constituyento, el 1ero de Abril de 1851. Su capital es Latacunga. <br>

		                              		Situada en la regi&oacute;n Interandina - Norte de Ecuador, es una de las diez provincias que integren la Regi&oacute;n Sierra, geogr&aacute;ficamente se encuentra dispuesta en la Cordillera de los Andes, en el valle interandino, rodeada para la Cordillera Occiental y la Coordillera Oriental. </p>
		                        </div>
		                    </div><!-- end service -->
		
		                    <div class="service-style row">
		                        <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
		                            <i class="fa fa-map-marker"></i>
		                        </div>
		                        <div class="col-md-9 col-xs-9 col-sm-9">
		                        <h5>DIVISI&Oacute;N POL&Iacute;TICA</h5>
		                        <p class="text-justify">La Provincia de Cotopaxi, se conforma por siete cantones:
		                        <ul>
		                        	<li>La Man&aacute;</li>
		                        	<li>Latacunga</li>
		                        	<li>Pangua</li>
		                        	<li>Pujil&iacute;</li>
		                        	<li>Salcedo</li>
		                        	<li>Saquisil&iacute;</li>
		                        	<li>Sigchos</li>
		                        </ul>
		                         </p>
		                        </div>
		                    </div><!-- end service -->
		                </div><!-- end col -->
		
		                <div class="col-md-6">
		                    <div class="service-style row">
		                        <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
		                            <i class="fa fa-users"></i>
		                        </div>
		                        <div class="col-md-9 col-xs-9 col-sm-9">
		                        <h5>MANIFESTACIONES CULTURALES</h5>
		                        <p class="text-justify">
		                        	Cada uno de los cantones y parroquias que conforman la Provincia cuentan con una gran variedad de atractivos culturales y naturales, se nos internan en territorios que adem&aacute;s son favorecidos por una diversidad de climas, permitiendo el desarrollo de la fauna y flora propia de ecosistemas Alto-Andinos		                        	 o Sub-Tropicales caracteristicas que sin duda respaldan el gran potencial tur&iacute;stico que posee la provincia.
		                        </p>
		                        </div>
		                    </div><!-- end service -->
		
		                    <div class="service-style row">
		                        <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
		                            <i class="fa fa-tree"></i>
		                        </div>
		                        <div class="col-md-9 col-xs-9 col-sm-9">
		                        <h5>SITIOS NATURALES</h5>
		                        <p class="text-justify">
		                        	En Cotopaxi se puede encontran una diversidad de sitios naturales tales como:<br>
		                        	<ul>
		                        		<li>Aguas Subterr&aacute;neas y Ambientes Lacustres</li>
		                        		<li>Fen&oacute;menos Espeleol&oacute;gicos y Geol&oacute;gicos </li>
		                        		<li>Monta&ntilde;as y Planicies</li>
		                        		<li>R&iacute;os</li>
		                        		<li>Sistema de &Aacute;reas Protegidas</li>
		                        		<li>Museos</li>
		                        		<li>Parques Nacionales</li>
		                        	</ul>

		                        </p>
		                        </div>
		                    </div><!-- end service -->
		                </div><!-- end col -->
		            </div><!-- end row -->
		        </div><!-- end container -->
		    </section><!-- end section -->  
		


}
