<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Paramos</title>
<link href="@{'public/css/EstiloAdministradorAsignar.css'}" rel="stylesheet" >
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="content-language" content="es" />

</head>

<body>
<div id="Titulo">
	<div id="Titulo1">
	</div>
	<div id="Titulo2">
	</div>
	<div id="Titulo3">
	</div>
		<div id="Menu62">
		</div>
	</div>
</div>

<div id="Seccion1">
	<div id="Seccion11">
	</div>
	<div id="Seccion12">
		<div id="Seccion121">
			<br><h2>ADMINISTRADOR DE SITIOS NATURALES</h2>
		</div>
		<form action="@{Application.guardarnaturales}" method="Post">
		<div id="Seccion123">
			<div id="Seccion1231">
			</div>
			<div id="Seccion1232">
				<div id="Seccion12321">
				</div>
				<div id="Seccion12322">
					<font face="arial" SIZE=5>Nombre:</font>
				</div>
				<div id="Seccion12323">
				</div>
				<div id="Seccion12324">
					<font face="arial" SIZE=5>Descripcion</font>
				</div>
				<div id="Seccion12325">
				</div>
				<div id="Seccion12326">
					<font face="arial" SIZE=5>Ubicacion:</font>
				</div>
				<div id="Seccion12327">
				</div>
				<div id="Seccion12328">
					<font face="arial" SIZE=5>Imagen:</font>
				</div>
				<div id="Seccion12329">
				</div>
				<div id="Seccion1232f">
				</div>
			</div>
			<div id="Seccion1233">
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<br><br><br><br>
				<button type="submit"  id="Enviar">Enviar</button>
			</div>
			<div id="Seccion1234">
				<div id="Seccion12341">
				</div>
				<div id="Seccion12342">
					<input type="text" id="NombreNatural" name="NombreNatural" maxlength="20" value="" style="height: 34px; width: 371px; font-size: x-large; background-color: #4d4d4d; color: white;"/>
				</div>
				<div id="Seccion12343">
				</div>
				<div id="Seccion12344">
					<input type="text" id="DescripcionNatural" name="DescripcionNatural" maxlength="20" value="" style="height: 34px; width: 371px; font-size: x-large; background-color: #4d4d4d; color: white;"/>
				</div>
				<div id="Seccion12345">
				</div>
				<div id="Seccion12346">
					<input type="text" id="UbicacionnNatural" name="UbicacionCliente" maxlength="20" value="" style="height: 34px; width: 371px; font-size: x-large; background-color: #4d4d4d; color: white;"/>
				</div>
				<div id="Seccion12347">
				</div>
				<div id="Seccion12348">
					<input type="text" id="ImagenNatural" name="ImagenNatural" maxlength="20" value="" style="height: 34px; width: 371px; font-size: x-large; background-color: #4d4d4d; color: white;"/>
				</div>
				<div id="Seccion12349">
				</div>
				<div id="Seccion1234b">
				</div>
				<div id="Seccion1234d">
				</div>
				<div id="Seccion1234f">
				</div>
				<div id="Seccion12349">
				</div>
				<div id="Seccion1234b">
				</div>
				<div id="Seccion1234d">
				</div>
				<div id="Seccion1234f">
				</div>
			</div>
			<div id="Seccion1235">
			</div>
		</div>
	</div>
	<div id="Seccion13">
	</div>
										
										

</form>
</div>


</body>
</html>