
@main("Administrador"){
<div align="center" style="position: static;">	
	<DIV STYLE="position:absolute; top:250px; left:250px; width:400px; height:400px; visibility:visible z-index:1"> 
		<IMG SRC="@routes.Assets.versioned("images/Sierrarecuatoriana.png")" border=1 width="400px" height="400px"> 
	</DIV>
	<DIV STYLE="position:absolute; top:500px; left:250px; width:400px; height:400px; visibility:visible z-index:1"> 
		<a href="@routes.HomeController.lugar()">CALENDARIOS</a> 
	</DIV>
	
 
	<DIV STYLE="position:absolute; top:290px; left:750px; width:450px; height:400px; visibility:visible z-index:2"> 
		<IMG SRC="@routes.Assets.versioned("images/fondoecuador.png")" border=1 width="450px" height="400px"> 
	</DIV> 
	<DIV STYLE="position:absolute; top:500px; left:730px; width:450px; height:400px; visibility:visible z-index:2"> 
		<a href="@routes.HomeController.atractivosingresar()">ATRACTIVOS</a> 
	</DIV>
	<br><br>
	<a href="@routes.HomeController.logincalendario()">Logout</a>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
}