#{extends 'main.html' /}
#{set title:'Home'/}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
   <title>Sitios Naturales</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="/public/css/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="/public/css/font-awesome-animation.css" rel="stylesheet" />
       <!-- CUSTOM STYLE CSS -->
    <link href="/public/css/style.css" rel="stylesheet" />
   
</head>
<body >
	
      <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="\public\img\logo.png" alt="logo" />
                <a class="navbar-brand" href="public\img\logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="..\Application\index">Pgina Principal</a></li>
                    <li><a href="#administrar-sec">Administrar</a></li>
                     <li><a href="#price-sec">Historia</a></li>
                    <li><a href="#contact-sec">Contacto</a></li>
                </ul>
            </div>
           
        </div>
          <img src="\public\img\barra1.jpg" alt="o" />
    </div>
     <!--END NAV SECTION -->
 <!--HOME SECTION-->
    <div id="home-sec">

   
    <div class="container" id="home" >
        <div class="row text-center">
            <div class="col-md-100">
                <span class="head-main">Vive Turismo Cotopaxi</span>
                <h2 class="head-sub-main">Administración de atranctivos uristicos</h2>
                      <h3 class="head-last">Bienvenido</h3>
                
            </div>
        </div>
    </div>
         </div>
    <!--END HOME SECTION-->
     <!--SERVICES administrar-sec-->    
    <section  id="administrar-sec">
        <div class="container">
            <div class="row ">
               <h1>Administración de Atractivos Turisticos </h1>
                 <div class="col-md-12 g-pad-bottom">
                  <div class="col-md-6">
                    <h2>Intorucción</h2>
                   <div id="templatemo_sidebar">
            <div id="menu">
               
               <li><a href="#home" class="selected">Atractivos Turísticos</a></li>
              <li><a href="..\Culturales\culturales">Manifestaciones Culturales</a></li>
              <li><a href="..\Sitios\sitios">Sitios Naturales</a></li>
              <li><a href="..\Paramos\paramos">Paramos y Aventura</a></li>
              
            </div>
		</div>  
    
          <div id="templatemo_sidebar">
            <div id="menu">
                <ul class="navigation">
                 </ul>
              
             
            </div>
		</div>  
        <div id="content">
  
       	  	<form action="@{Sitios.guardarsn()}" method="post">
       	  	
	       	  	<h3><a>Nombre:      </a> <input name="nombre" type="text" placeholder="Por favor, ingresa aquí" /></h3> 	
	       	  	<h3><a>Descripción: </a> <input name="descripcion" type="text" placeholder="Por favor, ingresa aquí" /></h3>
	       	  	<h3><a>Ubicación: </a> <input name="ubicacion" type="text" placeholder="Por favor, ingresa aquí" /></h3>
	       	 	<h3><a>Imagen:      </a> <input name="imagen" type="text" placeholder="Por favor, Suba la foto" /></h3>
        	<button type="submit">Guardar</button>
        	</form>
		</div>
    </div> <!-- end of content -->

	</div>
	</div>
	</section>
 <!--END administrar-sec-->
 
<!--FOOTER SECTION -->
      <img src="\public\img\barra1.jpg" alt="o" />
    <div id="footer">
         www.cotopaxi.gob.ec · Cotopaxi - Ecuador | All Right Reserved | Terms | Policies | Licenses 
         
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="/public/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="/public/plugins/bootstrap.js"></script>
  
    <!-- CUSTOM SCRIPTS -->
    <script src="/public/js/custom.js"></script>

</body>
</html>